.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  height: 137px;
  padding: 19px;
  box-shadow: 0px 15px 50px rgba(160, 163, 189, 0.1);
  border-radius: 10px;
  background-color: var(--white);
}

.title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #b9b9b9;
  margin-bottom: 5px;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #b9b9b9;
}

.bottom {
  display: flex;
}

.trends {
  margin-right: 5px;
}

.percent {
  margin-right: 10px;
}

.green {
  color: var(--success);
}

.yellow {
  color: var(--warning);
}

.red {
  color: var(--danger);
}
